<h1>Review for the restaurant</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "add the review", class: "btn btn-primary" %>
<% end %>
